In [58]:
import json

import requests

import pandas as pd
key="RGAPI-92ef961d-807a-4bdd-af51-bd86edb5af5f"
api_key = f'?api_key={key}'


# url = "https://na1.api.riotgames.com/lol/match/v4/matches/3845049175?api_key=RGAPI-998df494-249a-4805-b186-abd577498a8c"


base_url = "https://na1.api.riotgames.com/lol/match/v4/matches/"
matchid = "3845049175"
url = base_url + matchid + api_key
response = requests.get(url)
results = response.json()
# print(results)

In [59]:
id_champion=results["gameId"]
id_champion

3845049175

In [40]:
# json.dumps(results,indent=4)

In [60]:
for entries in results:
    print(entries)

gameId
platformId
gameCreation
gameDuration
queueId
mapId
seasonId
gameVersion
gameMode
gameType
teams
participants
participantIdentities

In [99]:
team_id=[]
for team in results['participants']:
    x=team['championId']
    y=team['teamId']
    z=team['participantId']
    a=team['stats']['kills']
    b=team['stats']['deaths']
    c=team['stats']['win']

    
    team_id.append({
        "participantId":z,
        "championId":x,
        "teamId":y,
        "kills":a,
        "deaths":b,
        "win":c


    })
    # print(team_id)
    # print(team)

In [100]:
df=pd.DataFrame(team_id)

In [101]:
df.head()

   participantId  championId  teamId  kills  deaths   win
0              1          39     100      7       4  True
1              2         145     100      7       1  True
2              3         121     100      1       0  True
3              4          99     100      0       0  True
4              5         111     100      1       2  True

In [102]:
data_df.to_csv(r'/Users/jonathanrocha/Desktop/ClassWork/FinalGroup/data_lol/data.csv',index = False, header= True)