In [14]:
import json
import time
import requests

import pandas as pd
key="RGAPI-9dd2313f-ae6b-4896-b80d-9fdca9bf42aa"
api_key = f'?api_key={key}'


# url = "https://na1.api.riotgames.com/lol/match/v4/matches/3845049175?api_key=RGAPI-998df494-249a-4805-b186-abd577498a8c"

Match_ID_base_url = "https://canisback.com/matchId/matchlist_na1.json"
Match_ID_url = Match_ID_base_url
Match_ID_response = requests.get(Match_ID_url)
Match_ID_Stat_results = Match_ID_response.json()

In [18]:
Match_ID_Stat_results_df = pd.DataFrame(Match_ID_Stat_results)
df_test =Match_ID_Stat_results_df.head(100)
df_test = df_test.astype(str)
df_test.columns = ['Match_ID']
df_test

      Match_ID
0   3846368586
1   3846368588
2   3846368613
3   3846368635
4   3846368666
..         ...
95  3846369473
96  3846369476
97  3846369477
98  3846369488
99  3846369514

[100 rows x 1 columns]

In [21]:
count = 0
team_id=[]
for count in range(0, 60):
    base_url = "https://na1.api.riotgames.com/lol/match/v4/matches/"
    matchid = df_test['Match_ID'][count]
    url = base_url + matchid + api_key
    response = requests.get(url)
    results = response.json()
    # print(results)
    time.sleep(1)

   
    for team in results['participants']:
        x=team['championId']
        y=team['teamId']
        z=team['participantId']
        a=team['stats']['kills']
        b=team['stats']['deaths']
        c=team['stats']['win']

        
        team_id.append({
            "participantId":z,
            "championId":x,
            "teamId":y,
            "kills":a,
            "deaths":b,
            "win":c

        
        })
    count += 1
    df=pd.DataFrame(team_id)

    if count == 60:
      break
print(count)

60

In [ ]:
df.astype(str)
df.to_csv(r'C:\Users\Logan\Desktop\bootcamp\FinalGroup\data_lol\Dataframe.csv',index = False, header= True)
    # print(team_id)
    # print(team)

In [22]:
df

     participantId  championId  teamId  kills  deaths    win
0                1         120     100      3       7  False
1                2         412     100      1       8  False
2                3         777     100      9      11  False
3                4          31     100     11       9  False
4                5          67     100     14      10  False
..             ...         ...     ...    ...     ...    ...
595              6          38     200      1       2   True
596              7         234     200      6       3   True
597              8          40     200      0       3   True
598              9         119     200      0       2   True
599             10         141     200     12       1   True

[600 rows x 6 columns]

In [ ]:
#for entries in Stat_results:
    #print(entries)
# json.dumps(Stat_results,indent=4)
#data_df.to_csv(r'/Users/jonathanrocha/Desktop/ClassWork/FinalGroup/data_lol/data.csv',index = False, header= True)