In [ ]:
import json

import requests

import pandas as pd
key="RGAPI-bb30cff2-40c0-442b-b51d-b02acab9d6ef"
api_key = f'?api_key={key}'


# url = "https://na1.api.riotgames.com/lol/match/v4/matches/3845049175?api_key=RGAPI-998df494-249a-4805-b186-abd577498a8c"

Match_ID_base_url = "https://canisback.com/matchId/matchlist_na1.json"
Match_ID_url = Match_ID_base_url
Match_ID_response = requests.get(Match_ID_url)
Match_ID_Stat_results = Match_ID_response.json()

In [19]:
Match_ID_Stat_results_df = pd.DataFrame(Match_ID_Stat_results)
df_test =Match_ID_Stat_results_df.head(20)
df_test = df_test.astype(str)
df_test.columns = ['Match_ID']
df_test

      Match_ID
0   3845049175
1   3845049216
2   3845049226
3   3845049296
4   3845049298
5   3845049300
6   3845049321
7   3845049358
8   3845049361
9   3845049379
10  3845049386
11  3845049390
12  3845049407
13  3845049417
14  3845049427
15  3845049441
16  3845049452
17  3845049465
18  3845049469
19  3845049482

In [34]:
x = 0
team_id=[]
while True:
    base_url = "https://na1.api.riotgames.com/lol/match/v4/matches/"
    matchid = df_test['Match_ID'][0]
    url = base_url + matchid + api_key
    response = requests.get(url)
    results = response.json()
    print("json created")
    # print(results)

   
    for team in results['participants']:
        x=team['championId']
        y=team['teamId']
        z=team['participantId']
        a=team['stats']['kills']
        b=team['stats']['deaths']
        c=team['stats']['win']

        
        team_id.append({
            "participantId":z,
            "championId":x,
            "teamId":y,
            "kills":a,
            "deaths":b,
            "win":c


        })
    df=pd.DataFrame(team_id)
    df.head()
    x += 1
    if x == 20:
      break

json created

KeyError: 'participants'

In [33]:
    df.head()
    # print(team_id)
    # print(team)

   participantId  championId  teamId  kills  deaths   win
0              1          39     100      7       4  True
1              2         145     100      7       1  True
2              3         121     100      1       0  True
3              4          99     100      0       0  True
4              5         111     100      1       2  True

In [ ]:
#for entries in Stat_results:
    #print(entries)
# json.dumps(Stat_results,indent=4)
#data_df.to_csv(r'/Users/jonathanrocha/Desktop/ClassWork/FinalGroup/data_lol/data.csv',index = False, header= True)