In [1]:
import requests
import json
import pandas as pd

In [2]:
#champ data URL
champ_url = "https://ddragon.leagueoflegends.com/cdn/11.5.1/data/en_US/champion.json"

response = requests.get(champ_url)
results = response.json()


champs = results['data']

In [4]:
#gather data for df
champ_dict = {
    "Name": [],
    "Key": [],
    "Role": []
}

for x in champs:
    champ_dict['Name'].append(champs[x]['id'])
    champ_dict['Key'].append(champs[x]['key'])
    champ_dict['Role'].append(champs[x]['tags'])

In [5]:
#build df
champ_df = pd.DataFrame(champ_dict)
champ_df.head(10)

          Name  Key                 Role
0       Aatrox  266      [Fighter, Tank]
1         Ahri  103     [Mage, Assassin]
2        Akali   84           [Assassin]
3      Alistar   12      [Tank, Support]
4        Amumu   32         [Tank, Mage]
5       Anivia   34      [Mage, Support]
6        Annie    1               [Mage]
7     Aphelios  523           [Marksman]
8         Ashe   22  [Marksman, Support]
9  AurelionSol  136               [Mage]

In [5]:
len(champ_df)

154

In [7]:
#create list of roles
roles = []

for x in range(len(champ_df)):
    ch_roles = champ_df.iloc[x, 2]
    
    for item in ch_roles:
        if item not in roles:
            roles.append(item)
    
    
roles

['Fighter', 'Tank', 'Mage', 'Assassin', 'Support', 'Marksman']

In [8]:
#create columns for roles and set to 0
champ_df["Fighter"] = 0
champ_df["Tank"] = 0
champ_df["Mage"] = 0
champ_df["Assassin"] = 0
champ_df["Support"] = 0
champ_df["Marksman"] = 0

champ_df.head()

,Name,Key,Role,Fighter,Tank,Mage,Assassin,Support,Marksman
0,Aatrox,266,"[Fighter, Tank]",0,0,0,0,0,0
1,Ahri,103,"[Mage, Assassin]",0,0,0,0,0,0
2,Akali,84,[Assassin],0,0,0,0,0,0
3,Alistar,12,"[Tank, Support]",0,0,0,0,0,0
4,Amumu,32,"[Tank, Mage]",0,0,0,0,0,0

In [9]:
#fill role columns with appropriate values

for x in range(len(champ_df)):
    ch_roles = champ_df.iloc[x, 2]
    
    for item in ch_roles:
        if item == "Fighter":
            champ_df.iloc[x, 3] = 1/(len(ch_roles))
        if item == "Tank":
            champ_df.iloc[x, 4] = 1/(len(ch_roles))
        if item == "Mage":
            champ_df.iloc[x, 5] = 1/(len(ch_roles))
        if item == "Assassin":
            champ_df.iloc[x, 6] = 1/(len(ch_roles))
        if item == "Support":
            champ_df.iloc[x, 7] = 1/(len(ch_roles))
        if item == "Marksman":
            champ_df.iloc[x, 8] = 1/(len(ch_roles))
            
champ_df.head(20)

,Name,Key,Role,Fighter,Tank,Mage,Assassin,Support,Marksman
0,Aatrox,266,"[Fighter, Tank]",0.5,0.5,0.0,0.0,0.0,0.0
1,Ahri,103,"[Mage, Assassin]",0.0,0.0,0.5,0.5,0.0,0.0
2,Akali,84,[Assassin],0.0,0.0,0.0,1.0,0.0,0.0
3,Alistar,12,"[Tank, Support]",0.0,0.5,0.0,0.0,0.5,0.0
4,Amumu,32,"[Tank, Mage]",0.0,0.5,0.5,0.0,0.0,0.0
5,Anivia,34,"[Mage, Support]",0.0,0.0,0.5,0.0,0.5,0.0
6,Annie,1,[Mage],0.0,0.0,1.0,0.0,0.0,0.0
7,Aphelios,523,[Marksman],0.0,0.0,0.0,0.0,0.0,1.0
8,Ashe,22,"[Marksman, Support]",0.0,0.0,0.0,0.0,0.5,0.5
9,AurelionSol,136,[Mage],0.0,0.0,1.0,0.0,0.0,0.0
10,Azir,268,"[Mage, Marksman]",0.0,0.0,0.5,0.0,0.0,0.5
11,Bard,432,"[Support, Mage]",0.0,0.0,0.5,0.0,0.5,0.0
12,Blitzcrank,53,"[Tank, Fighter]",0.5,0.5,0.0,0.0,0.0,0.0
13,Brand,63,[Mage],0.0,0.0,1.0,0.0,0.0,0.0
14,Braum,201,"[Support, Tank]",0.0,0.5,0.0,0.0,0.5,0.0
15,Caitlyn,51,[Marksman],0.0,0.0,0.0,0.0,0.0,1.0
16,Camille,164,"[Fighter, Tank]",0.5,0.5,0.0,0.0,0.0,0.0
17,Cassiopeia,69,[Mage],0.0,0.0,1.0,0.0,0.0,0.0
18,Chogath,31,"[Tank, Mage]",0.0,0.5,0.5,0.0,0.0,0.0
19,Corki,42,[Marksman],0.0,0.0,0.0,0.0,0.0,1.0

In [27]:
# champ_df.to_csv("C:\\Users\\pmaxl\\OneDrive\\Desktop\\FinalGroup\\Resources\\champ_parser.csv")

In [123]:
len(champ_df)

154

In [10]:
#Pull match df
match_data = pd.read_csv("C:\\Users\\pmaxl\\OneDrive\\Desktop\\FinalGroup\\data_lol\\FullData.csv")

#make sure "Key" columns match so the df's can be joined

match_data.rename(columns={'championId':'Key'}, inplace=True)
match_data['Key'] = match_data['Key'].astype(str)

In [13]:
#merge the df's on "Key"
merged_df = match_data.merge(champ_df, how = "left", on = "Key")
merged_df.head()

,participantId,Key,teamId,kills,deaths,win,Name,Role,Fighter,Tank,Mage,Assassin,Support,Marksman
0,1,120,100,3,7,False,Hecarim,"[Fighter, Tank]",0.5,0.5,0.0,0.0,0.0,0.0
1,2,412,100,1,8,False,Thresh,"[Support, Fighter]",0.5,0.0,0.0,0.0,0.5,0.0
2,3,777,100,9,11,False,Yone,"[Assassin, Fighter]",0.5,0.0,0.0,0.5,0.0,0.0
3,4,31,100,11,9,False,Chogath,"[Tank, Mage]",0.0,0.5,0.5,0.0,0.0,0.0
4,5,67,100,14,10,False,Vayne,"[Marksman, Assassin]",0.0,0.0,0.0,0.5,0.0,0.5

In [15]:
#convert full merged_df into a list of matches
match_df_list = []

n = int(len(merged_df)/10)

for x in range(n):
    
    count = x*10
    match = merged_df[count:(count+10)]
    match_df_list.append(match)

match_df_list[0]

,participantId,Key,teamId,kills,deaths,win,Name,Role,Fighter,Tank,Mage,Assassin,Support,Marksman
0,1,120,100,3,7,False,Hecarim,"[Fighter, Tank]",0.5,0.5,0.0,0.0,0.0,0.0
1,2,412,100,1,8,False,Thresh,"[Support, Fighter]",0.5,0.0,0.0,0.0,0.5,0.0
2,3,777,100,9,11,False,Yone,"[Assassin, Fighter]",0.5,0.0,0.0,0.5,0.0,0.0
3,4,31,100,11,9,False,Chogath,"[Tank, Mage]",0.0,0.5,0.5,0.0,0.0,0.0
4,5,67,100,14,10,False,Vayne,"[Marksman, Assassin]",0.0,0.0,0.0,0.5,0.0,0.5
5,6,90,200,6,7,True,Malzahar,"[Mage, Assassin]",0.0,0.0,0.5,0.5,0.0,0.0
6,7,236,200,10,9,True,Lucian,[Marksman],0.0,0.0,0.0,0.0,0.0,1.0
7,8,106,200,7,6,True,Volibear,"[Fighter, Tank]",0.5,0.5,0.0,0.0,0.0,0.0
8,9,12,200,3,9,True,Alistar,"[Tank, Support]",0.0,0.5,0.0,0.0,0.5,0.0
9,10,77,200,19,7,True,Udyr,"[Fighter, Tank]",0.5,0.5,0.0,0.0,0.0,0.0

In [138]:
#gather data for df
team_summaries = {
    "W/L": [],
    "Fighter": [],
    "Tank": [],
    "Mage": [],
    "Assassin":[],
    "Support": [],
    "Marksman": [],
    "vs Fighter": [],
    "vs Tank": [],
    "vs Mage": [],
    "vs Assassin": [],
    "vs Support": [],
    "vs Marksman": []
}

#iterate over match_df_list 1 match at a time
for x in range(len(match_df_list)):
    
    match = match_df_list[x]
    
    #separate winning and losing teams
    w = match[match['win'] == True]
    l = match[match['win'] == False]
    
    #add up roles for winning team
    w_fighter = w['Fighter'].sum()
    w_tank = w['Tank'].sum()
    w_mage = w['Mage'].sum()
    w_assassin = w["Assassin"].sum()
    w_support = w["Support"].sum()
    w_marksman = w["Marksman"].sum()
    
    #add up roles for the losing team
    l_fighter = l['Fighter'].sum()
    l_tank = l['Tank'].sum()
    l_mage = l['Mage'].sum()
    l_assassin = l["Assassin"].sum()
    l_support = l["Support"].sum()
    l_marksman = l["Marksman"].sum()
    
    
    #append winning team to dict
    team_summaries['W/L'].append("w")
    team_summaries["Fighter"].append(w_fighter)
    team_summaries["Tank"].append(w_tank)
    team_summaries["Mage"].append(w_mage)
    team_summaries["Assassin"].append(w_assassin)
    team_summaries["Support"].append(w_support)
    team_summaries["Marksman"].append(w_marksman)
    team_summaries["vs Fighter"].append(l_fighter)
    team_summaries["vs Tank"].append(l_tank)
    team_summaries["vs Mage"].append(l_mage)
    team_summaries["vs Assassin"].append(l_assassin)
    team_summaries["vs Support"].append(l_support)
    team_summaries["vs Marksman"].append(l_marksman)
    
    #append losing team to dict
    team_summaries['W/L'].append("l")
    team_summaries["Fighter"].append(l_fighter)
    team_summaries["Tank"].append(l_tank)
    team_summaries["Mage"].append(l_mage)
    team_summaries["Assassin"].append(l_assassin)
    team_summaries["Support"].append(l_support)
    team_summaries["Marksman"].append(l_marksman)
    team_summaries["vs Fighter"].append(w_fighter)
    team_summaries["vs Tank"].append(w_tank)
    team_summaries["vs Mage"].append(w_mage)
    team_summaries["vs Assassin"].append(w_assassin)
    team_summaries["vs Support"].append(w_support)
    team_summaries["vs Marksman"].append(w_marksman)
    
    
#create df from dict
summary_df = pd.DataFrame(team_summaries)
summary_df.head()

,W/L,Fighter,Tank,Mage,Assassin,Support,Marksman,vs Fighter,vs Tank,vs Mage,vs Assassin,vs Support,vs Marksman
0,w,1.0,1.5,0.5,0.5,0.5,1.0,1.5,1.0,0.5,1.0,0.5,0.5
1,l,1.5,1.0,0.5,1.0,0.5,0.5,1.0,1.5,0.5,0.5,0.5,1.0
2,w,1.5,0.5,1.0,1.0,0.5,0.5,1.5,1.0,0.0,1.0,0.5,1.0
3,l,1.5,1.0,0.0,1.0,0.5,1.0,1.5,0.5,1.0,1.0,0.5,0.5
4,w,1.5,1.5,1.0,0.0,0.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0

In [139]:
# summary_df.to_csv("C:\\Users\\pmaxl\\OneDrive\\Desktop\\FinalGroup\\Resources\\team_summary.csv", index=False)

In [140]:
winners = summary_df[summary_df['W/L'] == 'w']
winners = winners[["Fighter", "Tank", "Mage", "Assassin", "Support", "Marksman"]]

losers = summary_df[summary_df['W/L'] == 'l']
losers = losers[["Fighter", "Tank", "Mage", "Assassin", "Support", "Marksman"]]

data = {
    "win": winners.mean(),
    "lose": losers.mean()
}

comp = pd.DataFrame(data)

In [141]:
comp

               win      lose
Fighter   1.137931  1.118966
Tank      0.708621  0.710345
Mage      0.924138  0.950000
Assassin  0.906897  0.886207
Support   0.475862  0.510345
Marksman  0.846552  0.824138