In [1]:

import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
league_df = pd.read_csv("C:\\Users\\Logan\\Desktop\\bootcamp\\FinalGroup\\Resources\\team_summary.csv")
league_df.head()

,W/L,Fighter,Tank,Mage,Assassin,Support,Marksman,vs Fighter,vs Tank,vs Mage,vs Assassin,vs Support,vs Marksman
0,w,1.0,1.5,0.5,0.5,0.5,1.0,1.5,1.0,0.5,1.0,0.5,0.5
1,l,1.5,1.0,0.5,1.0,0.5,0.5,1.0,1.5,0.5,0.5,0.5,1.0
2,w,1.5,0.5,1.0,1.0,0.5,0.5,1.5,1.0,0.0,1.0,0.5,1.0
3,l,1.5,1.0,0.0,1.0,0.5,1.0,1.5,0.5,1.0,1.0,0.5,0.5
4,w,1.5,1.5,1.0,0.0,0.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0

In [5]:
X = league_df.drop("W/L", axis=1)
y = league_df["W/L"]
print(X.shape, y.shape)

(580, 12) (580,)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.542528735632184
Testing Data Score: 0.4896551724137931

In [10]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['w' 'w' 'l' 'w' 'w' 'w' 'l' 'w' 'w' 'w']
First 10 Actual labels: ['w', 'w', 'w', 'w', 'l', 'w', 'l', 'w', 'w', 'w']

In [20]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

   Prediction Actual
0           w      w
1           w      w
2           l      l
3           l      l
4           w      l
5           w      w
6           w      l
7           l      l
8           w      w
9           w      l
10          l      w
11          w      l
12          l      l
13          l      w
14          w      w
15          w      w
16          w      w
17          l      w
18          w      l
19          w      l
20          l      w
21          l      w
22          l      l
23          w      w
24          w      l
25          l      w
26          w      w
27          w      w
28          w      l
29          w      l
30          l      w
31          w      w
32          w      w
33          l      l
34          l      l
35          l      l
36          w      l
37          l      l
38          w      w
39          l      l
40          w      w
41          w      w
42          w      w
43          l      w
44          l      l