In [27]:
import json
import time
import requests

import pandas as pd
key="RGAPI-2599494c-935a-4f59-b1d6-0954848414e8"
api_key = f'?api_key={key}'


# url = "https://na1.api.riotgames.com/lol/match/v4/matches/3845049175?api_key=RGAPI-998df494-249a-4805-b186-abd577498a8c"

Match_ID_base_url = "https://canisback.com/matchId/matchlist_na1.json"
Match_ID_url = Match_ID_base_url
Match_ID_response = requests.get(Match_ID_url)
Match_ID_Stat_results = Match_ID_response.json()

In [28]:
Match_ID_Stat_results_df = pd.DataFrame(Match_ID_Stat_results)
# df_test =Match_ID_Stat_results_df.head(200)
df_test =Match_ID_Stat_results_df.head(500)
df_test = df_test.astype(str)
df_test.columns = ['Match_ID']
df_test = df_test[::-1]
df_test

       Match_ID
499  3848984856
498  3848984848
497  3848984845
496  3848984842
495  3848984835
..          ...
4    3848969517
3    3848969509
2    3848969463
1    3848969422
0    3848969374

[500 rows x 1 columns]

In [29]:
count = 0
team_id=[]
for count in range(300, 500):
    base_url = "https://na1.api.riotgames.com/lol/match/v4/matches/"
    matchid = df_test['Match_ID'][count]
    url = base_url + matchid + api_key
    response = requests.get(url)
    results = response.json()
    # print(results)
    time.sleep(1)

    for team in results['teams']:
        d=team['firstBlood']
        e=team['firstTower']
        f=team['firstInhibitor']
        g=team['firstBaron']
        h=team['firstDragon']
        i=team['firstRiftHerald']
    for team in results['participants']:
            x=team['championId']
            y=team['teamId']
            z=team['participantId']
            a=team['stats']['kills']
            b=team['stats']['deaths']
            c=team['stats']['win']
  

        
    team_id.append({
            "participantId":z,
            "championId":x,
            "teamId":y,
            "firstBlood":d,
            "firstTower":e,
            "firstInhibitor":f,
            "firstBaron":g,
            "firstDragon":h,
            "firstRiftHerald":i,
            "kills":a,
            "deaths":b,
            "win":c

        
        })
    count += 1
    df=pd.DataFrame(team_id)
    # df1=pd.DataFrame(team_id)

    if count == 100:
      break
print(count)

KeyError: 'teams'

In [32]:
df.astype(str)
# df.to_csv('/Users/jonathanrocha/Desktop/datapulllast500.csv',index = False, header= True)
# df1.to_csv('/Users/jonathanrocha/Desktop/Updated_data.csv', header= True)
    # print(team_id)
    # print(team)

,participantId,championId,teamId,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,kills,deaths,win
0,10,117,200,False,False,False,False,False,False,0,0,False
1,10,8,200,True,True,True,False,True,True,9,4,True
2,10,78,200,False,True,False,False,True,True,3,8,False
3,10,234,200,True,True,True,True,False,False,1,8,True
4,10,112,200,False,True,True,True,True,True,7,2,True
5,10,432,200,False,False,True,True,True,False,1,9,True
6,10,202,200,False,True,False,False,False,True,8,4,False
7,10,112,200,False,False,True,True,False,False,4,6,True
8,10,131,200,False,False,False,False,False,False,4,5,False
9,10,48,200,True,True,False,False,True,False,5,10,False
10,10,22,200,True,False,False,False,True,False,1,3,False
11,10,35,200,False,False,False,False,False,False,5,7,False
12,10,86,200,False,False,False,False,True,False,2,6,False
13,10,48,200,False,True,True,True,True,True,9,9,False
14,10,31,200,False,False,False,True,True,False,4,11,False
15,10,12,200,False,True,False,False,False,True,0,5,False
16,10,106,200,True,True,True,True,False,True,10,10,True
17,10,122,200,True,True,False,False,True,False,6,9,False
18,10,141,200,False,True,True,False,False,True,11,9,True
19,10,222,200,False,False,False,False,False,True,8,8,False
20,10,33,200,False,False,False,False,False,False,0,2,False
21,10,89,200,True,False,False,False,False,False,1,4,False
22,10,57,200,False,False,False,False,False,False,3,7,False
23,10,350,200,False,False,False,False,False,True,1,6,False
24,10,54,200,False,True,True,True,False,True,5,6,True
25,10,421,200,False,False,False,False,False,False,2,1,False
26,10,22,200,True,False,False,False,True,False,5,7,False
27,10,90,200,True,True,False,False,True,False,1,2,True
28,10,147,200,False,True,False,False,True,True,0,4,False
29,10,25,200,False,False,False,True,True,False,4,7,False
30,10,89,200,True,True,False,False,True,False,0,2,True
31,10,157,200,True,False,False,False,False,False,5,17,False
32,10,133,200,True,False,False,False,False,False,0,0,True
33,10,86,200,False,True,True,True,True,False,13,2,True
34,10,36,200,True,False,True,True,True,False,8,7,True
35,10,141,200,True,True,False,False,True,True,7,8,False
36,10,22,200,True,False,False,False,False,True,0,12,False
37,10,81,200,False,False,False,False,False,False,5,5,False

In [33]:
len(df)

38

In [ ]:
#for entries in Stat_results:
    #print(entries)
# json.dumps(Stat_results,indent=4)
#data_df.to_csv(r'/Users/jonathanrocha/Desktop/ClassWork/FinalGroup/data_lol/data.csv',index = False, header= True)